// padding
.p-32{
    padding: 32px;
}
.pl-32{
    padding-left: 32px;
}
.pt-12{
    padding-top: 12px;
}
.pb-12{
    padding-bottom: 12px;
}
.px-32{
    padding-left: 32px;
    padding-right: 32px;
}
.py-32{
    padding-top: 32px;
    padding-bottom: 32px;
}

// Margin

